#container-Calculate{
  display: flex;
  align-items: center;
  color: red;
  width: 50%;
  flex-wrap: wrap;
}
#container-Calculate div{
  flex: 1 100%;
}
#container-Calculate button{
  width: 50px;
}
#container-Calculate button:focus{
  outline:none;
}

#container-Calculate .result{
  flex: 1 100%;
}
